.conContact {
    background-image: url(https://images.unsplash.com/photo-1587560699334-cc4ff634909a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    width: 100%;
    background-size: auto, cover;
    background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)),
      url(https://images.unsplash.com/photo-1587560699334-cc4ff634909a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    object-fit: cover;
    background-position: 0px 0px, 50% 50%;
    min-height: 550px;
    max-height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cardsContact {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  .cardContact {
    background-color: white;
    color: #222;
    width: 300px;
    height: 330px;
    padding: 3rem;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .contactLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-bottom: 3rem;
  }
  .headContact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
    font-size: 34px;
    font-weight: 700;
  }
  .footContact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }

  .btnContact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 200px;
    height: 45px;
    border-radius: 8px;
    background-color: #eb5757;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: all ease 200ms;
    margin-bottom: 2rem;
    font-size: 14px;
  }
  .btnContact:hover {
    background-color: #222;
  }

  .btnWrapperContact {
    display: flex;
    justify-content: center;
    align-items: center;
  }