.fCon {
    background-color: #222222;
}

.footerCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    padding: 5px 18rem;
    color: white;
}

.footBot {
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 1rem;
    font-size: 14px;

}

.ridwan {
    color: #eb5757;
    margin: 0 5px;
    border-bottom: 2px solid #eb5757;
    cursor: pointer;
}